<h1>Sign Up</h1>
<%= form_with scope: :user, url: users_path, local: true do |f|%>
  <%= f.label :fname%> 
  <%= f.text_field :fname%>
  <%= f.label :lname%> 
  <%= f.text_field :lname%>
  <%= f.label :email%> 
  <%= f.text_field :email%>
  <%= f.label :username%><br>
  <%= f.text_field :username%><br>
  <%= f.label :password%><br>
  <%= f.password_field :password%><br>
  <%= f.submit %>
<%end%>