<h1>
  New User
  

<%= form_with scope: :user, url: users_path, local: true do |form| %>
  <p>
    <%= form.label :first_name %><br>
    <%= form.text_field :fname %>
  </p>
 
  <p>
    <%= form.label :last_name %><br>
    <%= form.text_area :lname %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>
</h1>